
.App {
  text-align: center;
}

.Logo {
  display:flex;
  flex-direction: column;
  height: 140px;
  width: 340px;
margin-top: 45px;


  
}

.App-Container {
 
  background-color: rgb(71, 11, 62);
  min-height: 100vh;
  display:flex;
  justify-content: center top;
  flex-direction: column;
  align-items: center;

}

.App-title{
  color: white;
  text-align: center;
}

.Page-title {
  
  color: white;
 font-size: 20px;
  
}

.Email {
margin-top: 30px;
}

.LoginButton {
  margin-top: 60px;
}

.SignUp {
  color: white;
}