.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  display:flex;
  flex-direction: column;
  height: 500px;
  width: 340px;
  margin-top: 60px;
  
}

.App-Container {
  background-color: rgb(71, 11, 62);
  min-height: 100vh;
  display: flex;
  align-items: center top;
  justify-content: center;

}

.App-title {
  color: white;
}